<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teachassist.teachassist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_ALARM"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ta_logo_v3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ta_logo_v3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:windowSoftInputMode="stateHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Accepts URIs that begin with "java-lang-programming://android-app-google-plus-demo" -->
                <data android:host="ta.yrdsb.ca"/>
                <data android:host="www.ta.yrdsb.ca"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".login"/>

        <activity android:name=".SettingsActivity"
            android:theme="@style/preferenceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.teachassist.teachassist.MainActivity" />
            <intent-filter android:label="settings">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>


        <receiver android:name=".AlertReceiver"/>
        <activity android:name=".MarksViewMaterial">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.teachassist.teachassist.MainActivity" />
        </activity>




        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="81fde084e84196db0444d4ffb986fbb8d95655bf" />
    </application>

</manifest>